<header class="hero hero-home">
  <div class="container fill-height">
    <div class="row fill-height">
      <div class="col-lg-4 col-lg-offset-4 fill-height title-layout">
        <div class="align-block">
          {{#if @blog.logo}}
            <a class="blog-image" href="{{@blog.url}}" id="blog-image">
              <img src="{{@blog.logo}}" alt="{{@blog.title}}">
            </a>
          {{/if}}
          <h1>{{@blog.title}}</h1>
          <p>{{@blog.description}}</p>
          <br/>
          <ul class="list-inline">
              <li>
                <a href="https://twitter.com/dylanchernick"><img src="/assets/images/Twitter_logo.png" height="30px"></img></a>
              </li>
              <li>
                <a href="http://linkedin.com/in/dylanchernick"><img src="/assets/images/linkedin_logo.png" height="30px"></img></a>
              </li>
              <li>
                <a href="mailto:dylanchernick@gmail.com"><img src="/assets/images/mail_logo.png" height="30px"></img></a>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
